*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    height:100vh;
    flex-direction: column;
}
.king{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:10vh;
    background-color: rgb(151, 151, 147);
    height: 10%;
    width: 100%;
}
.queen{
    width:100vw;
    height:90vw ;
    width: 100%;
    height:90% ;
    flex-direction: row;
}
.joker{
    display: flex;
    height:100% ;
    width: 10%;
    justify-content: center;
    align-items: center;
}
.a{
    display: flex;
    height: 100%;
    width: 30%;
    background-color: blue;
    justify-content: space-around;
    align-items: center;
}
#logo{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    align-items: center;
    justify-content: center;

}
.iec{
    display: flex;
    flex-direction:row;
    width: 25%;
    height: 50%;
    background-color: rgb(238, 238, 238);
    border-radius: 20% ;
    text-align: center;
    font-size: small;
    justify-content: center;
    align-items: center;
}

.b{
    display: flex;
    height: 100%;
    width: 80%;
    background-color: rgb(183, 0, 255);
}
.c{
    display: flex;
    height: 100%;
    width: 30%;
    background-color: rgb(255, 0, 255);
}
.d{
    display: flex;
    height: 100%;
    background-color: rgb(255, 0, 85);

}